header{
    width:100%;
    background-color: burlywood;
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gochi Hand', cursive;
}
.right{
    width: 30%;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: fit-content;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 30px;
    align-self: center;
    margin-left: 1%;
    color: black;
}
.home{
    width: 20%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0%;
}
.sobre{
    width: 25%;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0%;
}
.contato{
    width: 25%;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0%;
    margin-right: 35px;
}
@media (max-width: 2000px){
    header{
        /*font-size: O QUE COLOCAR AQUI PRA FAZER O TEXTO SEMPRE CABER NA CAIXINHA??? ;*/
    }
}

@media (max-width: 701px) {
    .left{
        display:none;
    }
    .right{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .home{
        width: fit-content;
    }
    .sobre{
        width: fit-content;
    }
    .contato{
        width: fit-content;
    }

    header{
        height: fit-content;
    }
    

}
.left:hover{
    font-size: 35px;
}
.home:hover{
    color: grey;
}
.sobre:hover{
    color: grey;
}
.contato:hover{
    color: grey;